<a href="https://colab.research.google.com/github/Thrishankkuntimaddi/Data-Structures-and-Algorithms-Basics-/blob/main/10%20-%20Strings(Immutable).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Strings

1. Sequence of characters

2. Used to store text data like data read from a file

3. Typically small set of characters

4. character 'A' to 'Z' are stored as values from 65 to 90

5. character 'a' to 'z' are stored as values from 97 to 122

In [ ]:
print(ord('a'))

print(ord('A'))

print(ord('z'))

print(ord('Z'))

print(ord('0'))

print(ord('9'))

print(ord(' '))

97
65
122
90
48
57
32

In [ ]:
print(chr(97))

print(chr(65))

print(chr(122))

print(chr(90))

print(chr(48))

print(chr(57))

print(chr(32))

a
A
z
Z
0
9

In [ ]:
s = 'geek'

print(s)

print(type(s))

print(s[0])

print(s[1])

print(s[2])

print(s[3])

print(s[-1])

print(s[-2])

print(s[-3])

print(s[-4])

geek
<class 'str'>
g
e
e
k
k
e
e
g

In [ ]:
s = ''' welcome to my world'''

print(s)

print(type(s))

 welcome to my world
<class 'str'>

# Escape sequences

In [ ]:
s = 'Welcome to my world'

print(s)

Welcome to my world

In [ ]:
s = 'Welcome to my worl'd'

print(s)

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-8-89389ac4c64d>, line 1)

In [ ]:
s = 'Welcome to my worl\'d'

print(s)

Welcome to my worl'd

In [ ]:
s = "Hi, \nI'm fine"

print(s)

Hi,
I'm fine

In [ ]:
s1 = 'A simple \example'

print(s1)

s2 = 'A simple example \\'

print(s2)

s3 = 'A simple \t example '

print(s3)

A simple \example
A simple example \
A simple 	 example

# Raw Strings

In [ ]:
s1 = 'c:\project\name.py'

print(s1)

c:\project
ame.py

In [ ]:
s1 = r'c:\project\name.py'

print(s1)

s1 = R'c:\project\name.py'

print(s1)

c:\project\name.py
c:\project\name.py

# Formatted Strings

In [ ]:
# using '%'

name = 'ABC'
course = 'Python Course'

s = 'Welcome %s to %s' %(name, course)

print(s)

Welcome ABC to Python Course

In [ ]:
# using format()

name = 'ABC'
course = 'Python Course'

s = 'Welcome {} to {}'.format(name, course)

print(s)

Welcome ABC to Python Course

In [ ]:
# using f-string

name = 'ABC'
course = 'Python Course'

s = f'Welcome {name} to {course}'

print(s)

Welcome ABC to Python Course

In [ ]:
# Example

a = 10
b = 20

print(f'Sum of {a} and {b} is {a+b}')

Sum of 10 and 20 is 30

In [ ]:
# Example

a = 'ABC'
b = 'abc'
print(f"lower case of {a} is {b.lower()}")
print(f"upper case of {b} is {a.upper()}")

lower case of ABC is abc
upper case of abc is ABC

# String comparison

In [ ]:
s1 = 'gfg'
s2 = 'ide'

print(s1 == s2)

print(s1 != s2)

print(s1 > s2)

print(s1 < s2)

print(s1 >= s2)

print(s1 <= s2)

False
True
False
True
False
True

# String Operations

In [ ]:
# Check for Substrings

'''
substrings of 'ABCD' are 'A', 'B', 'C', 'D', 'AB', 'BC', 'CD', 'ABCD'
'''

s1 = 'geeksforgeeks'
s2 = 'geeks'

print(s2 in s1) # True

print(s2 not in s1) # False

print(s1 in s2) # False

print(s1 not in s2) # True

True
False
False
True

In [ ]:
# Concatenation

s1 = 'geeks'
s2 = 'for'
s3 = 'geeks'

print(s1 + s2 + s3)

print(s1 + ' ' + s2 + ' ' + s3)

geeksforgeeks
geeks for geeks

In [ ]:
# Finding position of a substring

s1 = 'geeksforgeeks'
s2 = 'geeks'

print(s1.index(s2))  # First come

print(s1.rindex(s2))  # Last come

print(s1.index(s2, 0, 13)) # Between the Range

0
8
0

In [ ]:
s1 = 'Thrishank is a name'

s2 = 'Kav'

print(len(s1))                           # 19

print(s1.upper())                        # THRISHANK IS A NAME

print(s1.lower())                        # thrishank is a name

print(s1.isupper())                      # False

print(s1.islower())                      # False

print(s1.startswith('Th'))               # True

print(s1.endswith('nk'))                 # False

print(s1.startswith('th'))               # False

print(s1.startswith(" ", 1))             # False

print(s1.endswith('a', 5, len(s1)))      # False

print(s1.split(' '))                     # ['Thrishank', 'is', 'a', 'name']

print(s1.split('n'))                     # ['Thrisha', 'k is a ', 'ame']

print(s1.split('r', 1))                  # ['Th', 'ishank is a name']

print(''.join(s1))                       # Thrishank is a name

print(' '.join(s1))                      # T h r i s h a n k   i s   a   n a m e

print(s1.strip(" "))                     # Thrishank is a name

print(s1.lstrip(" "))                    # Thrishank is a name

print(s1.rstrip(" "))                    # Thrishank is a name

print(s1.replace('Thrishank', 'Kavya'))  # Kavya is a name

print(s1.replace('h', 'H'))              # THrisHank is a name

print(s1.find(s2))                       # -1

print(s1.find(s2, 0, 13))                # -1

print(s1.find('sha'))                    # 4

19
THRISHANK IS A NAME
thrishank is a name
False
False
True
False
False
False
False
['Thrishank', 'is', 'a', 'name']
['Thrisha', 'k is a ', 'ame']
['Th', 'ishank is a name']
Thrishank is a name
T h r i s h a n k   i s   a   n a m e
Thrishank is a name
Thrishank is a name
Thrishank is a name
Kavya is a name
THrisHank is a name
-1
-1
4

# Reverse a String

I/P : 'Nani'

O/P : 'inaN'

In [ ]:
# Naive

s = input()
rev = ""

for i in s:
    rev = i + rev

print(rev)

Nani
inaN

In [ ]:
# using Slicing

s = input()

print(s[::-1])


# s[x:y:z] gives substring from index x to y in steps of z

nani
inan

# Check for Rotation

I/P : s1 = "ABCD"

s2 = "CDAB"

O/P : Yes


Explaination :

ABCD --> BCDA --> CDAB

In [ ]:
# Solution

def areRotations(s1, s2):
  if len(s1) != len(s2):
    return False
  temp = ''
  temp = s1 + s1

  return temp.find(s2) != -1

print(areRotations("ABCD", "CDAB"))

print(areRotations("ABCD", "ABCA"))

# Time Complexity : O(n)
# Space Complexity : O(n)

True
False

# Check for Palindrome

I/P : 10-02-2001

O/P : 1002 20 01

----------------

I/P : 'abba'

O/P : yes

----------------

I/P : 'abA'

O/P : No

In [ ]:
# Naive

s = input()
low = 0
high = len(s) - 1

while low < high:
    if s[low] != s[high]:
        print("No")
        break
    low += 1
    high -= 1
else:
    print("Yes")

NanaN
Yes

In [ ]:
# Using Slicing

s = input()

if s == s[::-1]:
    print("Yes")
else:
    print("No")

Nani
No

# Check if a string is Subsequence

I/P : s1 = 'ABCD';  s2 = 'AD'

O/P : True

I/P : s1 = "ABCDE";  s2 = "AED"

O/P : False

In [ ]:
# Naive

def issubseq(s1, s2):
  i, j = 0, 0

  while i < len(s1) and j < len(s2):
    if s1[i] == s2[j]:
      j += 1
    i += 1
  return j == len(s2)

print(issubseq("ABCD", "AD"))
print(issubseq("ABCDE", "AED"))

True
False

In [ ]:
# Recursion

def issubseq(s1, s2, m, n):
  if n == 0:
    return True
  if m == 0:
    return False
  if s1[m-1] == s2[n-1]:
    return issubseq(s1, s2, m-1, n-1)
  return issubseq(s1, s2, m-1, n)

print(issubseq("ABCD", "AD", 4, 2))
print(issubseq("ABCDE", "AED", 5, 3))

True
False

# Check for Anagram

Anagram : length & character & count should be same

I/P : s1 = 'listen'

      s2 = 'silent'

O/P : Yes

---------------------

I/P : s1 = "aabc"

      s2 = "acab"

O/P : Yes

In [ ]:
# Naive

def anagram(s1, s2):
  if len(s1) != len(s2):
    return False
  s1 = sorted(s1)
  s2 = sorted(s2)

  return s1 == s2

s1 = "listen"
s2 = "silent"

print(anagram(s1, s2))

s1 = "aabd"
s2 = "acab"

print(anagram(s1, s2))

# Time Complexity : O(n*logn)
# Space Complexity : O(n)

True
False

In [ ]:
# Efficient

def anagram(s1, s2):
  if len(s1) != len(s2):
    return False
  count = [0] * 256

  for i in range(len(s1)):
    count[ord(s1[i])] += 1
    count[ord(s2[i])] -= 1
  for i in range(256):
    if count[i] != 0:
      return False
  return True

s1 = "listen"
s2 = "silent"

print(anagram(s1, s2))

s1 = "aabd"
s2 = "acab"

print(anagram(s1, s2))

# Time Complexity : O(n)
# Space Complexity : O(1)

True
False

# Leftmost Repeating Character

I/P : str = "geeksforgeeks"

O/P : 0

I/P : str = "abbcc"

O/P : 1

I/P : str = "abcd"

O/P : -1

In [ ]:
# Naive Approach

def leftmost(str):
  for i in range(len(str)):
    for j in range(i+1, len(str)):
      if str[i] == str[j]:
        return i
  return -1

str = "geeksforgeeks"

print(leftmost(str))

# Time Complexity : O(n^2)
# Space Complexity : O(1)

0

In [ ]:
# Better Approach

CHAR = 256

def leftmost(str):
  count = [0] * CHAR

  for i in range(len(str)):
    count[ord(str[i])] += 1

  for i in range(len(str)):
    if count[ord(str[i])] > 1:
      return i

  return -1

str = "geeksforgeeks"

print(leftmost(str))

# Time Complexity : O(n)
# Space Complexity : O(1)

0

In [ ]:
# Method 1

import sys

CHAR = 256

def leftmost(str):

  fIndex = [-1] * CHAR
  res = sys.maxsize

  for i in range(len(str)):

    if fIndex[ord(str[i])] == -1:

      fIndex[ord(str[i])] = i

    else:

      res = min(res, fIndex[ord(str[i])])

  return res

str = "Thrishank"

print(leftmost(str))

# Time Complexity : O(n)
# Space Complexity : O(1)

1

In [ ]:
# Method 2

CHAR = 256

def leftmost(str):
  visited = [False] * CHAR
  res = -1

  for i in range(len(str) -1, -1, -1):
    if visited[ord(str[i])] == True:
      res = i
    else:
      visited[ord(str[i])] = True
  return res

str = "Thrishank"

print(leftmost(str))

# Time Complexity : O(n)
# Space Complexity : O(1)

1

# Leftmost Non-Repeating Character

I/P : str = 'geeksforgeeks'

O/P : 5

I/P : str = 'abcabc'

O/P : -1

In [ ]:
# Naive

def nonRep(str):
  for i in range(len(str)):
    flag = False

    for j in range(i+1, len(str)):
      if str[i] == str[j]:
        flag = True
        break

    if flag == False:
      return i
    return -1

str1 = "aaa"

print(nonRep(str1))

str1 = "geeksforgeeks"

print(nonRep(str1))

# Time Complexity : O(n^2)
# Space Complexity : O(1)

-1
-1

In [ ]:
# Better Solution

CHAR = 256

def nonRep(str):
  count = [0] * CHAR

  for i in range(len(str)):
    count[ord(str[i])] += 1

  for i in range(len(str)):
    if count[ord(str[i])] == 1:
      return i
  return -1

str1 = "aaa"

print(nonRep(str1))

str1 = "geeksforgeeks"

print(nonRep(str1))

# Time Complexity : O(n)
# Space Complexity : O(CHAR)

-1
5

In [ ]:
# Method 1

import sys

CHAR = 256

def nonRep(str):

  fIndex = [-1] * CHAR
  res = sys.maxsize

  for i in range(len(str)):
    if fIndex[ord(str[i])] == -1:
      fIndex[ord(str[i])] = i
    else:
      fIndex[ord(str[i])] = -2

  for i in range(CHAR):
    if fIndex[i] >= 0:
      res = min(res, fIndex[i])

  return res if res != sys.maxsize else -1



str1 = "aaa"
print(nonRep(str1))

str1 = "geeksforgeeks"
print(nonRep(str1))

# Time Complexity : O(n)
# Space Complexity : O(CHAR)

-1
5

# Reverse Words in a String

I/P : str = "Welcome to gfg"

O/P : "gfg to Welcome"

I/P : str = 'abc'

O/P : abc

In [ ]:
# Naive Solution

'''
1. Initialize an empty stack
2. Split the string into words
3. Push each word onto the stack
4. Initialize the output string
5. Pop words from the stack and append them to the output string
6. Remove the trailing space and return the reversed string

'''

def reverseWordsUsingStack(str):
    stack = []
    words = str.split()

    for word in words:
        stack.append(word)

    reversed_str = ""

    while stack:
        reversed_str += stack.pop() + " "

    return reversed_str.strip()

str = "Welcome to gfg"
result = reverseWordsUsingStack(str)
print(result)

# Time Comeplexity : O(n)
# Space Complexity : O(n)

In [ ]:
# Idea for O(1) Auxiliary Space Solution

'''
1. Reverse the individual word
2. Reverse the whole string
'''

def reverse(s, b, e):
  while b < e:
    s[b], s[e] = s[e], s[b]
    b += 1
    e -= 1

def reversewords(s):
  n = len(s)
  b = 0
  for e in range(n):
    if s[e] == ' ':
      reverse(s, b, e-1)
      b = e + 1
  reverse(s, b, n-1)
  reverse(s, 0, n-1)

s = list("Welcome to gfg")
reversewords(s)
print("".join(s))

# Time Complexity : O(n)
# Space Complexity : O(1)

gfg to Welcome