<a href="https://colab.research.google.com/github/Thrishankkuntimaddi/Data-Structures-and-Algorithms-Basics-/blob/main/3%20-%20List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List

collection of items in array data strucuture, in which collections are in heterogenous

list      =  [ 10,  20,  30,  40,  50 ]

index     =  [  0,   1,   2,   3,   4 ]

-ve index =  [ -1,  -2,  -3,  -4,  -5 ]

In [ ]:
l = [10, 20, 30, 40, 50]
print(l)
print(l[0])
print(l[3])
print(l[-1])
print(l[-3])

[10, 20, 30, 40, 50]
10
40
50
30

In [ ]:
l = [10, 20, 30, 40, 50]
l.append(30)
print(l)
l.insert(1, 60)
print(l)
print(60 in l)
print(l.count(30))
print(l)
print(l.index(30))
print(l.index(30, 4, 7))

[10, 20, 30, 40, 50, 30]
[10, 60, 20, 30, 40, 50, 30]
True
2
[10, 60, 20, 30, 40, 50, 30]
3
6

In [ ]:
l = [10, 20, 30, 40, 50]
l.remove(30)
print(l)
print(l.pop())
print(l)
print(l.pop(2))
print(l)
del l[1]
print(l)
del l[0:2]
print(l)

[10, 20, 40, 50]
50
[10, 20, 40]
40
[10, 20]
[10]
[]

In [ ]:
l = [10, 20, 30, 40, 50]
print(min(l))
print(max(l))
print(sum(l))
l.reverse()
print(l)
l.sort()
print(l)

# If list contain any other string than int, then the code will not work

10
50
150
[50, 40, 30, 20, 10]
[10, 20, 30, 40, 50]

# Working of list in Python

Basically list underlying the array data structure where contiguous memory location happens.

It means there is a pre-allocated extra space for future additions.

index   =  0,   1,    2,      3,   .....

values  =  2,  'p',  '1',  'True'  .....

Advantages:
- Random Access - easily get item in constant time
- cache friendly - locality of reference
- when we search for one data point it also store the reference of others if we have contiguous allocation.

Disadvantages:
- Insertion, Deletion, Search are slower because if any item added, deleted then we need to change the index position and move

# How doe Dynamic size work...?

- pre allocate some extra space
- If it becomes full, do the following
  1. Allocate a new space of larger size (multply by size of list * 2)
  2. copy old space to new
  3. Freeup the old space


Explanation:

list = []

for i in range(1, 1001):

  - l.append(i)


Assumption :
1. initially space for 10 items or allocated
2. when a number is inserted at 11th index then block of '10' will be deallocated and then allocates double sized

Time Complexity : O(1) # constant which is Amortized Time

# Average or Mean of a list

I/P : l = [10, 20, 30, 40]

O/P : 25.0

In [ ]:
l = [10,20,30,40]
def avg(l):
  sum = 0
  for i in l:
    sum += i
  n = len(l)
  return sum/n

print(avg(l))

25.0

# Seperate Even and Odd

I/P : l = [10, 20, 11, 40, 15, 19]

O/P :

even = [10, 20, 40]

odd = [11, 15, 19]

In [ ]:
def getevenodd(l):
  even = []
  odd = []
  for i in l:
    if i%2 == 0:
      even.append(i)
    else:
      odd.append(i)
  return even, odd

l = [10, 20, 11, 40, 15, 19]
even, odd = getevenodd(l)
print(even)
print(odd)

[10, 20, 40]
[11, 15, 19]

# Get Smaller Elements

I/P : l = [10, 20, 11, 40, 15, 19], x = 21

O/P : [10, 20, 11, 15, 19]

In [ ]:
def getSmaller(x):
  res = []
  for e in l:
    if e < x:
      res.append(e)
  return res

l = [10, 20, 11, 40, 15, 19]
x = 21
print(getSmaller(x))

[10, 20, 11, 15, 19]

# Slicing (List, Tuple and String)

In [ ]:
# Slicing

l = [10, 20, 11, 40, 15, 19]
print(l[0:5])
print(l[0:5:2])
print(l[:])
print(l[3:])
print(l[:3])
print(l[::-1])   # Reverse

[10, 20, 11, 40, 15]
[10, 11, 15]
[10, 20, 11, 40, 15, 19]
[40, 15, 19]
[10, 20, 11]
[19, 15, 40, 11, 20, 10]

In [ ]:
l = [10, 20, 11, 40, 15, 19]
dup = l[:]
print(dup)
print(l)
print(l in dup)
print(dup is l)

# False Because dup is separate in terms of memory allocation

[10, 20, 11, 40, 15, 19]
[10, 20, 11, 40, 15, 19]
False
False

In [ ]:
t1 = (10, 20, 30)
t2 = (10, 20, 30)
print(t1 is t2)
print(t1 == t2)
print(t1 in t2)

False
True
False

# Comprehensions

List comprehension provides a shortcut syntax to create a list from another iterable.

Iterable : A range function numbers are iterables

syntax : list = [ item for item in collection if condition ]

In [ ]:
l = [ x for x in range(11)]
print(l)

l = [ i for i in range(11) if i%2 == 0]
print(l)

l = [ x for x in range(11) if x%2 == 1]
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [ ]:
# Get Smaller

def getSmaller(x):
  return [e for e in l if e < x]

l = [10, 20, 11, 40, 15, 19]
x = 21
print(getSmaller(x))

[10, 20, 11, 15, 19]

In [ ]:
# Get Even Odd

def getEvenOdd(l):
  even = [i for i in l if i%2 == 0]
  odd = [i for i in l if i%2 == 1]
  return even, odd

l = [10, 20, 11, 40, 15, 19]
even, odd = getEvenOdd(l)
print(even)
print(odd)

[10, 20, 40]
[11, 15, 19]

In [ ]:
s = "ThrishankKuntimaddi"
l = [ch for ch in s if ch in 'aeiou']
print(l)

['i', 'a', 'u', 'i', 'a', 'i']

In [ ]:
s = ['Thrishank', 'Kuntimaddi', 'ThrishankKuntimaddi', 'Nani']
l = [name for name in s if name.startswith("T")]
print(l)

['Thrishank', 'ThrishankKuntimaddi']

In [ ]:
l = [x*x for x in range(11)]
print(l)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
s = ['Thrishank', 'Kuntimaddi', 'ThrishankKuntimaddi', 'Nani']
l = [name.lower() for name in s if name.startswith("T")]
print(l)

['thrishank', 'thrishankkuntimaddi']

In [ ]:
# Set Comprehension
l = {x for x in range(11)}
print(l)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
# Dictionary Comprehension
l = {x:x*2 for x in range(11)}
print(l)

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20}

In [ ]:
l1 = [10, 20, 30]
l2 = ['a', 'b', 'c']

d = dict(zip(l1, l2))
print(d)

{10: 'a', 20: 'b', 30: 'c'}

# Largest Element in a List

I/P : l = [10, 5, 20, 8]

O/P : 20

In [ ]:
# Naive

l = [10, 2, 5, 8, 20, 19]

def getmax(l):
  for x in l:
    for y in l:
      if y < x:
        break
    else:
      return x
  return None

print(getmax(l))

# Time Complexity : O(n^2)

2

In [ ]:
# Efficient

def getmax(l):
  if not l:
    return None
  else:
    res = l[0]
    for i in range(1, len(l)):
      if l[i] > res:
        res = l[i]
    return res

print(getmax(l))

# Time Complexity : O(n)

20

# Second Largest Element in a List

I/P : l = [10, 20, 4, 5, 6, 1]

O/P : 10

In [ ]:
def secondLargest(l):
  if len(l) <= 1:
    return None

  lar = getMax(l)
  slar = None

  for x in l:
    if x != lar:
      if slar == None:
        slar = x
      else:
        slar = max(slar,x)
  return slar

def getMax(l):
  res = l[0]
  for i in range(1, len(l)):
    res = max(res, l[i])
  return res


l = [10, 20, 4, 5, 6, 1]
print(secondLargest(l))

# Time Complexity : Theta(n)

10

In [ ]:
# Efficient

def secondLargest(l):
  if len(l) <= 1:
    return None
  lar = l[0]
  slar = None
  for x in l[1:]:
    if x > lar:
      slar = lar
      lar = x
    elif x != lar:
      if slar == None or slar < x:
        slar = x
  return slar

l = [10, 20, 4, 5, 6, 1]
print(secondLargest(l))

# Time Complexity : Theta(n)

10

# Check if a List is sorted

I/P : l = [10, 20, 30]

O/P : Yes

In [ ]:
# Naive

def isSorted(l):
  copy = sorted(l)
  if copy == l:
    return True
  else:
    return False

l = [10, 20, 30]
print(isSorted(l))

l = [29, 24, 32]
print(isSorted(l))

True
False

In [ ]:
# Efficient

def ifSort(l):
  i = 1
  while i < len(l):
    if l[i] < l[i-1]:
      return False
    i += 1
  return True

l = [10, 20, 30]
print(ifSort(l))

l = [29, 24, 32]
print(ifSort(l))

# Time Complexity : O(n)

True
False

# Reverse of a List

I/P : l = [10, 20, 30, 40]

O/P : [40, 30, 20, 10]

In [ ]:
# Method 1

l = [10, 20, 30]
l.reverse()
print(l)

[30, 20, 10]

In [ ]:
# Method 2

l = [10, 20, 30]
print(l[::-1])

[30, 20, 10]

In [ ]:
# Method 3

l = [10, 20, 30]
res = []
for i in range(len(l)-1, -1, -1):
  res.append(l[i])
print(res)

[30, 20, 10]

In [ ]:
# Method 4

l = [10, 20, 30]
res = list(reversed(l))
print(res)

[30, 20, 10]

In [ ]:
# Reduce half Time

def reverse(l):
  s = 0
  e = len(l) - 1
  while s < e:
    l[s], l[e] = l[e], l[s]
    s += 1
    e -= 1

l = [10, 20, 30, 40, 50]
reverse(l)
print(l)

# Time Complexity : O(n)

[50, 40, 30, 20, 10]

# Remove Duplicates from a sorted Array list

I/P : arr[] = {10, 20, 20, 30, 30, 30, 30}

      size = 7

O/P : arr[] = {10, 20, 30, _, _, _, _ }

      size = 3

In [ ]:
# Naive

def remdup(arr, n):
  temp = [0] * n
  temp[0] = arr[0]
  res = 1
  for i in range(1, n):
    if temp[res-1] != arr[i]:
      temp[res] = arr[i]
      res += 1
  return res, temp

arr = [10, 20, 20, 30, 30, 30, 30]
n = len(arr)
no, temp = remdup(arr, n)
print(temp)
print("size : ", no)

# Time Complexity : O(n)
# Auxiliary Space : O(n)

[10, 20, 30, 0, 0, 0, 0]
size :  3

In [ ]:
# Efficient

def remdup(arr, n):
  arr.sort()
  res = 1
  for i in range(1, n):
    if arr[i] != arr[res-1]:
      arr[res] = arr[i]
      res += 1
  return res

l = [10, 20, 20, 30, 40, 30, 30]
n = len(l)
print(remdup(l, n))

# Time Complexity : O(n)

4

# Left Rotate (Counter Clockwise) by One

I/P : l = [10, 20, 30, 40]

O/P : [20, 30, 40, 10]

In [ ]:
# Method 1

l = [10, 20, 30, 40]
l = l[1:] + l[0:1]
print(l)

[20, 30, 40, 10]

In [ ]:
# Method 2

l = [10, 20, 30, 40]
l.append(l.pop(0))
print(l)

[20, 30, 40, 10]

In [ ]:
# Own Logic

def rotateByOne(l):
  n = len(l)
  x = l[0]
  for i in range(1, n):
    l[i-1] = l[i]
  l[n-1] = x

l = [10, 20, 30, 40, 50]
rotateByOne(l)
print(l)

In [ ]:
# Chicken Leg

def farn(T, cases):

    for i in range(T):
        X, Y, Z = cases[i]
        chickens = (Z % X == 0)
        ducks = (Z % Y == 0)

        if chickens and ducks:
            print("Any")
        elif chickens:
            print("Chicken")
        elif ducks:
            print("Duck")
        else:
            print("Null")

T = int(input("Cases : "))
stack = []

for i in range(T):
    X, Y, Z = map(int, input().strip().split())
    stack.append([X, Y, Z])

print(stack)

results = farn(T, stack)

Cases : 3
2 3 6
4 7 14
8 12 16
[[2, 3, 6], [4, 7, 14], [8, 12, 16]]
Any
Duck
Chicken